@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/YekanBakh-Regular.eot?1a1854606a05eb293122f3d17c0247d5);
  src: url(/fonts/YekanBakh-Regular.eot?1a1854606a05eb293122f3d17c0247d5?#iefix) format("embedded-opentype"), url(/fonts/YekanBakh-Regular.woff2?bfb362716166f865d0327b105129084c) format("woff2"), url(/fonts/YekanBakh-Regular.woff?5d5019fe5a7fe2d50cce095c77317098) format("woff");
}
@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: bold;
  src: url(/fonts/YekanBakh-Bold.eot?c876130a313d5e6b9b3a443f62d64d84);
  src: url(/fonts/YekanBakh-Bold.eot?c876130a313d5e6b9b3a443f62d64d84?#iefix) format("embedded-opentype"), url(/fonts/YekanBakh-Bold.woff2?8c84ec442c2b313aaccfbd551bd05311) format("woff2"), url(/fonts/YekanBakh-Bold.woff?1d710da3a97376832f2b313be2f9e512) format("woff");
}
a {
  text-decoration: none;
}

img {
  display: block;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[dir=rtl] body {
  font-family: YekanBakh;
}

.discount-header {
  background-color: #20c5ba;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.discount-header__image {
  max-width: 100%;
  margin-bottom: 1rem;
}
.discount-header__title {
  font-size: 1.625rem;
  color: #fafafa;
  text-align: center;
  text-shadow: 0px 3px 0px #009191;
  margin-bottom: 1.125rem;
}
.discount-header__text {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2.25rem;
  line-height: 1.625;
}
.discount-header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fcb00f;
  color: #0a3a42;
  height: 45px;
  text-align: center;
  border-radius: 0.25rem;
  padding-right: 2.75rem;
  padding-left: 2.75rem;
}

@media (min-width: 576px) {
  .discount-header {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
@media (min-width: 1200px) {
  .discount-header__image {
    max-width: 37rem;
    order: 1;
  }
  .discount-header__title, .discount-header__text {
    text-align: right;
  }
  .discount-header__title {
    font-size: 3.125rem;
  }
  .discount-header__text {
    font-size: 23px;
  }
  .discount-header__button {
    display: inline-flex;
  }
}
.discount-features {
  background-color: #f5f7fa;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.discount-features__item:not(:last-child) {
  margin-bottom: 4.75rem;
}
.discount-features__item-image {
  text-align: center;
  margin-bottom: 2.25rem;
}
.discount-features__item-image svg {
  max-width: 282px;
  max-height: 211px;
}
.discount-features__item-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: #0b3a42;
  margin-bottom: 1.5rem;
}
.discount-features__item-title svg {
  width: 45px;
  height: 45px;
  margin-left: 0.875rem;
}
.discount-features__item-text {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.625;
  margin-bottom: 3.5rem;
}
.discount-features__item-button, .discount-features__item-more {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-align: center;
  height: 2rem;
  padding-right: 2.125rem;
  padding-left: 2.125rem;
  border-radius: 9999px;
}
.discount-features__item-more {
  background-color: transparent;
  color: #1fc5b9;
  border: 2px solid #1abbb0;
  margin-bottom: 1rem;
}
.discount-features__item-more svg {
  margin-right: 0.5rem;
}
.discount-features__item-more:hover {
  color: #1fc5b9;
}
.discount-features__item-button {
  background-color: #1fc5b9;
  color: #f5f7fa;
  border: 2px solid transparent;
}
.discount-features__item-button:hover {
  color: #f5f7fa;
}

@media (min-width: 992px) {
  .discount-features__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .discount-features__item:not(:last-child) {
    margin-bottom: 8.5rem;
  }
  .discount-features__item-image {
    text-align: unset;
    margin-bottom: 0;
  }
  .discount-features__item-image svg {
    max-width: 444px;
    max-height: 332px;
  }
  .discount-features__item-content {
    max-width: 464px;
  }
  .discount-features__item-title {
    font-size: 2.5rem;
    text-align: right;
  }
  .discount-features__item-title svg {
    width: 51px;
    height: 51px;
    margin-left: 1rem;
  }
  .discount-features__item-text {
    font-size: 1rem;
    text-align: right;
    margin-bottom: 74px;
  }
  .discount-features__item-links {
    display: flex;
    align-items: center;
  }
  .discount-features__item-more {
    display: unset;
    justify-content: center;
    align-items: center;
    text-align: unset;
    height: auto;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    order: 1;
  }
  .discount-features__item-button {
    display: inline-flex;
    margin-left: 1rem;
  }
}
